body {
  background-color: #282c34;
}
#title {
  color: white;
  font-weight: bolder;
  font-family: Consolas, "Courier New", monospace;
  text-align: center;
  font-size: 34px;
}
.container {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  height: 90vh;
  width: 95vw;
  border: 0.25px solid rgb(133, 133, 133);
  border-radius: 20px;
}
