body {
  font-family: Consolas, "Courier New", monospace;
  background-color: #282c34;
}
#title {
  position: absolute;
  right: 45vw;
  left: auto;
  padding: 0 10px 0 10px;
  top: 2%;
  background-color: #282c34;
  color: white;
  font-weight: bolder;
  text-align: center;
  font-size: 34px;
}
#container {
  padding: 20px 10px 10px 10px;
  margin: 40px auto auto auto;
  height: 90vh;
  width: 95vw;
  border: 0.25px solid rgb(133, 133, 133);
  border-radius: 20px;
}
#area {
  display: flex;
  margin-top: 5px;
  height: 93%;
}
#editor {
  background-color: #404247;
  width: 49.5%;
  height: 100%;
  padding: 2px;
  margin-left: auto;
  margin-right: auto;
}

#output {
  background-color: #222324;
  width: 49.5%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

#control {
  color: white;
  padding: 10px;
  border-radius: 10px 10px 0px 0px;
  background-color: black;
}

#langSelect {
}

#editorArea {
  color: white;
  width: 99%;
  height: 99%;
  background-color: transparent;
}

#submitBtn {
  position: absolute;
  top: 88%;
  left: 44%;
  background-color: green;
  color: white;
  font-weight: bolder;
  border-radius: 10px;
  width: 80px;
  height: 50px;
}
